/*
    Início
*/

.post-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
  width: 100%;
  max-width: 600px;
}

.post-title {
  font-weight: 800;
  color: var(--cor-secundaria);
}

.breadcrumb-nav {
  .breadcrumb-link {
    display: inline-block;
    font-weight: 600;
    color: var(--cor-texto);
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: var(--cor-primaria);
    }

    i {
      transition: transform 0.3s ease;
    }

    &:hover i {
      transform: translateX(-3px);
    }
  }
}

/*
    Conteúdo
*/

.content-wrapper {
  ::ng-deep h1,
  ::ng-deep h2 {
    color: var(--cor-primaria);
    margin: 1.5rem 0 0.5rem;
  }

  ::ng-deep p,
  ::ng-deep ul,
  ::ng-deep ol {
    margin: 1rem 0;
  }

  ::ng-deep p:has(> img:only-child),
  ::ng-deep h1:has(> img:only-child),
  ::ng-deep h2:has(> img:only-child) {
    display: flex;
    justify-content: center;
  }

  ::ng-deep img {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    margin: 1rem 0;
  }
}