/*
  Seção missão, visão e valores
*/

.mission-text {
  text-align: justify;
}

/*
  Seção equipe
*/

.team-member-card {
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--cor-primaria);
    // border: 2px solid var(--cor-secundaria);
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05);
  }

  .team-member-name {
    color: var(--cor-texto);
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  .team-member-role {
    // color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

/* 
  Seção transparência
*/

.transparency-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-pdf {
    border-color: var(--cor-secundaria);
    color: var(--cor-secundaria);
    font-weight: 600;

    &:hover {
        background-color: var(--cor-secundaria);
        color: #fff;
    }
}