<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header">
      <h2>{{ isEditMode ? 'Editar Postagem' : 'Cadastrar Nova Postagem' }}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" id="title" formControlName="title" class="form-control">
        </div>

        <div class="mb-3">
          <label for="summary" class="form-label">Resumo (aparecerá nos cards)</label>
          <textarea id="summary" formControlName="summary" class="form-control" rows="3"></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Imagem de Destaque</label>
          <input type="file" id="imageFile" class="form-control" (change)="onFileSelected($event)"
            accept="image/png, image/jpeg">
        </div>

        @if (imagePreview) {
        <div class="mb-4 text-center">
          <p class="mb-2">Pré-visualização:</p>
          <img [src]="imagePreview" alt="Pré-visualização da Imagem"
            style="max-width: 300px; max-height: 200px; border-radius: 8px;">
        </div>
        }

        <div class="mb-4">
          <label class="form-label">Conteúdo Completo da Postagem</label>
          <div class="editor-wrapper border rounded">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="content"></ngx-editor>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a routerLink="/posts" class="btn btn-secondary me-2">Cancelar</a>
          <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid || isUploading">
            
            @if (isUploading) {
              <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
              <span>Salvando...</span>
            } @else {
              <span>{{ isEditMode ? 'Salvar Alterações' : 'Publicar Postagem' }}</span>
            }

          </button>
        </div>

      </form>
    </div>
  </div>
</div>